input {
    width: 80%;
    border: 1px solid #c7c7c7;
    padding: 10px 20px;
}

.submit-button {
    width: 20%;
    padding: 10px;
    text-align: center;
    border: 1px solid #c7c7c7;
    background-color: #93f493;
}

button {
    padding: 10px 20px;
    color: white;
    border: 1px solid #606060;
    background-color: #606060;
}

.todo {
    background-color: #fafafa;
}

/* Mark todo as completed with line-through over text */
.todo.done .content {
    text-decoration: line-through;
}

.id, .content, .delete {
    display: inline-block;
    padding: 14px;
}

.id {
    width: 10%;
}
.content {
    width: 70%;
}
.delete {
    width: 20%;
}

.field {
    margin: 30px 0;
}