<div class="todos">
    <div class="field">
        <form (submit)="addTodo();">
            <input type="text" name="item_todo" class="todo-field" [(ngModel)]="inputTodo" placeholder="Item" />
            <input type="submit" value="Add Todo" class="submit-button">
        </form>
    </div>
    <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
        <div class="id">{{ i }}</div>
        <div class="content" (click)="toggleDone(i);">{{ todo.content }}</div>
        <button class="delete" (click)="deleteTodo(i);">Remove</button>
    </div>
</div>